@import "tailwindcss";


.bg-linear {
  background: linear-gradient(135deg, #3C3D41 0%, #1D1E25 39%,#181820 100%);
}
.bg-linear-1 {
  background: linear-gradient(-135deg, #FF67F9 0%, #DB6EFA 26%,#0085FF 100%);
}
.bg-linear-2 {
  background: linear-gradient(-135deg, #CC0087 0%, #905CFF 100%);
}
.bg-linear-3 {
  background: linear-gradient(-135deg, #FF5353 0%, #FFFFFF 100%);
}

.carousel-container {
  position: relative;
  width: 400px;
  height: 400px;
  background: #181824;
  border-radius: 50%;
  overflow: visible;
}
.carousel-circle {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 350px;
  height: 350px;
  border: 10px solid #444;
  border-radius: 50%;
  transform: translate(-50%, -50%);
}
.carousel-dot {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 24px;
  height: 24px;
  background: #fff;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
}
.carousel-item {
  position: absolute;
  width: 120px;
  height: 120px;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 4px 16px #0004;
}
.carousel-item img {
  width: 90px;
  height: auto;
}